@charset "utf-8";

body {
	background: url("../images/bg.jpg") center center fixed;
	background-size: cover;	
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

a {
	color: white;
	text-decoration: none;	
}

#varney {
	width: 	800px;
	margin: 100px auto;
	position: relative;
}

#varney > #banner {
	width: 800px;
	height: 400px;
	overflow: hidden;
	position:relative;	
}

#varney > #banner > ul {
	width: 3200px;
	position:relative;	
}

#varney > #banner > ul > li { float: left; }

#varney > #btn > ul > li {
	width: 200px;
	padding: 10px 0;
	text-align: center;
	background-color: black;
	position:relative;
	float: left;
	cursor: pointer;
	border-right: 1px solid #666;
	box-sizing: border-box;
}	

#varney > #btn > ul > li:last-child { border: 0; }

#varney > #btn > ul > li > div {
	position: relative;
	width: 0;
	height: 2px;
	background-color: #FC0;	
}















