@charset "utf-8";
/* CSS Document */

#gray_box {
	background-color: #333;
	color: white;
	padding: 10px;	
}

table {
	border-left: 1px solid #090;
	border-top: 1px solid #090;	
}

td {
	border-right: 1px solid #090;
	border-bottom: 1px solid #090;	
	padding: 7px;
}

td > h3 {
	color: #690;	
}

td > p > span { 
	color: #066;
	font-weight: bold;	
}

.img_txt {
	width: 575px;	
}








