@charset "utf-8";
/* CSS Document */

#wrap > section > #coffee1 {
	background: url("../images/product1.jpg") no-repeat;
	padding-left: 590px;
	height: 300px;
}

#wrap > section > #coffee2 {
	background: url("../images/product2.jpg") no-repeat;
	padding-left: 590px;
	height: 289px;	
}