@charset "utf-8";

body { background-color: #333; }

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;	
}

#main_vis {
	width: 1146px;
	height: 510px;	
	position: relative;
	margin: 150px auto;
}

#main_vis > ul > #vis1 {
	position: absolute;	
	z-index: 3;
}

#main_vis > ul > #vis2 {
	position: absolute;	
	z-index: 2;
}

#main_vis > ul > #vis3 {
	position: absolute;	
	z-index: 1;
}

#main_vis > ol {
	width: 90px;
	height: 15px;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 15px;
	margin: auto;	
}

#main_vis > ol > li {
	width: 15px;
	height: 15px;
	margin: 0 7.5px;
	float: left;
	background-color: #999;
	cursor: pointer;
	text-indent: 15px;
	overflow: hidden;	
}

#main_vis > ol > .on { background-color: #06F; }















