@charset "utf-8";

body { background-color: black; }

ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

#grid_list {
	width: 600px;
	height: 450px;	
	margin: 100px auto;
}

#grid_list > ul > li {
	width: 150px;
	height: 150px;
	position: relative;
	float: left;	
	overflow: hidden;
}

#grid_list > ul > li > div {
	width: 150px;
	height: 150px;
	background-color: rgba( 0, 0, 0, 0.7 );
	color: white;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	line-height: 150px;
	position: absolute;
	top: 0;
	left: 0;	
}

#grid_list > ul > li:nth-child( 2n ) > div { top: -150px; }

#grid_list > ul > li:nth-child( 2n+1 ) > div { left: 150px; }














